$primaryColor: #ff9933;
$secondaryColor: #ff3366;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

.contact-container {
  display: flex;
  margin: 10vh auto 0 auto;
  max-width: 1440px;
  height: 70vh;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
}

.contact-map {
  border: 1px solid $secondaryColor;
  width: 35rem;
  height: 30rem;
  margin: 0 auto 0 2rem;
  border-radius: 3px;
  background-image: url("../icons/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form {
  width: 35rem;
  height: 30rem;
  margin: 0 2rem 0 auto;
}
.form-group {
  color: $secondaryColor;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin: 0.5rem auto;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.form-control {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  outline-color: $secondaryColor;
}

.form-textarea {
  height: 8rem;
  width: 100%;
  border: none;
  border-radius: 3px;
  outline-color: $secondaryColor;
}

.submit-button {
  outline: none;
  color: $secondaryColor;
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: 0.1rem solid $secondaryColor;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-variant: small-caps;
}
.submit-button:hover {
  color: $secondaryColor;
  background-color: #fff7f9;
  cursor: pointer;
  transform: translateY(0.2rem);
}

@media screen and (max-width: 1450px) {
  .contact-map {
    width: 30rem;
    height: 25rem;
  }

  .contact-form {
    width: 30rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-container {
    height: 60vh;
  }
  .contact-map {
    width: 25rem;
    height: 20rem;
  }

  .contact-form {
    width: 25rem;
    height: 20rem;
  }

  .form-control {
    height: 2rem;
  }
  .form-textarea {
    height: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .contact-map {
    width: 22rem;
    height: 18rem;
    margin: 0 auto 0 0.5rem;
  }

  .contact-form {
    width: 22rem;
    height: 18rem;
    margin: 0 0.5rem 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-container {
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
  }

  .contact-form {
    width: 20rem;
    height: 17rem;
    margin: 0 auto;
  }

  .contact-map {
    width: 20rem;
    height: 17rem;
    margin: 1rem auto;
  }

  .form-control {
    height: 1.5rem;
  }
  .form-textarea {
    height: 4rem;
  }
}
