@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primaryColor: #ff9933;
$secondaryColor: #ff3366;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
}
#hero,
#hero::before,
#hero::after {
  background-attachment: fixed;
}
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  max-width: 1320px;
  padding: 0 5rem;
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin: 0 auto;
}

.showcase {
  text-align: center;
  margin: 5rem auto;
}

.showcase-headings h2 {
  color: #333;
  font-size: 3rem;
  margin: 2rem 3rem;
}
.showcase-headings h3 {
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}

.card-container {
  margin: 2rem auto;
  display: flex;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

.showcase-footer {
  margin-top: 2rem;
}

.showcase-footer h3 {
  margin-top: 3rem;
  color: $secondaryColor;
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}

.showcase-btn {
  outline: none;
  color: $secondaryColor;
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid $secondaryColor;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.showcase-btn:hover {
  cursor: pointer;
  transition: transform 200ms ease-in;
  transform: translateX(0.1rem) translateY(-0.1rem);
  background-color: #fbe6ec;
}
#dogbg,
#dogbg::before,
#dogbg::after {
  background-attachment: fixed;
}
.dog-background {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }

  .card-container {
    margin: 2rem;
  }
}

@media screen and (max-width: 900px) {
  #hero,
  #hero::before,
  #hero::after {
    background-attachment: scroll;
  }

  #dogbg,
  #dogbg::before,
  #dogbg::after {
    background-attachment: scroll;
  }

  .hero h1 {
    margin-top: 5rem;
  }
  .card-container {
    margin: 1rem;
  }
}
@media screen and (orientation: landscape) and (max-width: 850px) and (max-height: 450px) {
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .button-wrap {
    width: 18rem;
  }
  .showcase-headings {
    margin-bottom: 2rem;
  }
  .showcase-headings h2 {
    font-size: 2.5rem;
  }

  .showcase-headings h3 {
    font-size: 1.8rem;
  }

  .card-container {
    flex-wrap: wrap;
    margin: 0.5rem;
  }

  .dog-background {
    height: 60vh;
  }
}
