$primaryColor: #ff9933;
$secondaryColor: #ff3366;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.main {
  margin: 10vh auto 0 auto;
}

.heading {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  padding-top: 2rem;
}

.map {
  background-image: url("../icons/usmap.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 100%;
  height: 50vh;
  margin: 5rem auto;
}

.map h3 {
  color: #333;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
}

.additional {
  max-width: 1260px;
  margin: 0 auto;
}

.additional h3 {
  font-size: 3rem;
  font-style: bold;
  font-weight: 300;
  margin: 2rem auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .map h3 {
    padding-top: 10rem;
    font-size: 3rem;
    line-height: 4rem;
    color: #333;
  }
}
@media screen and (max-width: 820px) {
  .map h3 {
    padding-top: 3rem;
    font-size: 3rem;
    line-height: 4rem;
    color: #333;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: 2rem;
    margin: 3rem 1rem 0rem 1rem;
    padding-top: 2rem;
  }
  .map {
    height: 40vh;
    margin: 3rem auto;
  }
  .map h3 {
    padding-top: 3rem;
    font-size: 2rem;
  }

  .additional h3 {
    font-size: 2rem;
  }
}
