.footer {
  max-width: 960px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.heading {
  color: #333;
}

.social-icons {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-icons a img {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
}
.social-icons a:hover {
  cursor: pointer;
  transform: translateY(-0.2rem) translateX(0.2rem);
}
