$primaryColor: #ff9933;
$secondaryColor: #ff3366;

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  position: sticky;
}

.nav-links {
  align-self: center;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
}
.nav-links li a:hover {
  color: $primaryColor;
  cursor: pointer;
}

.active {
  border-bottom: 0.2rem solid $secondaryColor;
  color: $secondaryColor;
}

.dark {
  color: #333;
}

.light {
  color: #f4f4f4;
}
