$primaryColor: #ff9933;
$secondaryColor: #ff3366;

.nav-wrap {
  z-index: 2;
  position: fixed;
  background-color: rgb(236, 236, 236);
  max-height: 10vh;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  max-height: 10vh;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: smaller;
  color: #333;
}

.nav-links li a {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  color: #333;
}
.nav-links li a:hover {
  transition: color 400ms;
  color: $primaryColor;
  cursor: pointer;
}

.active {
  border-bottom: 0.15rem solid $secondaryColor;
  color: $secondaryColor;
}

@media screen and (orientation: landscape) and (max-width: 815px) and (max-height: 450px) {
  .nav-wrap {
    max-height: 20vh;
  }
  .navbar {
    max-height: 20vh;
  }
}
