.light-logo {
  background-image: url("../icons/logo-whiteText.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 225px;
  min-height: 100px;
}

.dark-logo {
  background-image: url("../icons/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 225px;
  min-height: 100px;
}
