$primaryColor: #ff9933;
$secondaryColor: #ff3366;

.service {
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 1rem auto;
  padding: 3rem 2rem;
}

.text-area {
  width: 28rem;
  height: 24rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  line-height: 1.5rem;
}

.text-area h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
  border-bottom: 0.5px solid $primaryColor;
}

.image {
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 28rem;
  height: 24rem;
}

@media screen and (max-width: 1024px) {
  .image {
    width: 26rem;
    height: 20rem;
  }
  .text-area {
    width: 26rem;
    height: 20rem;
  }
}

@media screen and (max-width: 820px) {
  .image {
    width: 20rem;
    height: 15rem;
  }
  .text-area {
    width: 20rem;
    height: 15rem;
    font-size: 0.8rem;
  }

  .text-area h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 815px) and (max-height: 400px) {
  .image {
    width: 18rem;
    height: 14rem;
  }
  .text-area {
    width: 18rem;
    height: 14rem;
  }
}

@media screen and (max-width: 450px) {
  .service {
    flex-direction: column;
  }
  .image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 19rem;
    height: 15rem;
  }

  .text-area {
    margin-bottom: 2rem;
    width: 19rem;
  }
}
