@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$primaryColor: #ff9933;
$secondaryColor: #ff3366;

.testimonial {
  display: flex;
  align-items: center;
  width: 65vw;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}

.image {
  border-radius: 50%;
  min-width: 8rem;
  min-height: 8rem;
  margin: 1rem;
}

.text-container {
  text-align: justify;
  line-height: 1.5rem;
  padding: 1rem;
}

.text-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .testimonial {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .testimonial {
    width: 90vw;
  }
}

@media screen and (max-width: 415px) {
  .testimonial {
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 375px) {
  .testimonial {
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
  }
}
