.testimonials {
  padding: 2rem;
  max-width: 1440px;
  margin: 3rem auto 3rem auto;
  text-align: center;
}

.testimonials h3 {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
}
